h1 {
    color: purple;
}

p,h2 {
    text-align: center;
}

.header {
    background-color:palevioletred;
    display:flex;
    justify-content: space-between;
}

.grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display:flex;
    justify-content: flex-end;
}

body {
    background-color: #008b;
}

.school {
    background-color: #9932cc;
}